<!-- <nav class="navbar bg-transparent">

    <div class="header-logo">
        <img src="../assets/images/dote-header.jpg" class="img-fluid" alt="DOTE Header">
    </div>
</nav> -->
<nav class="navbar sticky-top flex-md-nowrap p-0 text-white" style="background-color:#4981B2;">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3 text-white" href="#">Quick Links</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-white"></span>
  </button>

    <button class="navbar-toggler position-absolute d-md-none collapsed" data-target="#sidebarMenu" data-toggle="collapse" aria-expanded="true">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line" style="margin-bottom: 0;"></span>
</button>
    <img src="../assets/images/dote-header.jpg" class="logo">


    <!-- <div class="">
        <img src="../assets/images/dote-header.jpg" class="img-fluid" alt="DOTE Header">
    </div> -->

</nav>
