<div class="container">
    <div class="box">
        <div class="pure-menu custom-restricted-width">

            <span class="pure-menu-heading box_one_head"> <img width="" src="https://img.icons8.com/metro/26/000000/link.png">&nbsp;QUICK LINKS</span>
            <hr>
            <ul class="pure-menu-list box_one">
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link blk_clr">Candidate Instruction's Tamil</a>
                </li>
                <li class="pure-menu-item ">
                    <a href="#" class="pure-menu-link blk_clr">Candidate Instruction's English</a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link blk_clr">Special Reservation Instruction</a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link blk_clr">Government College List</a>
                </li>


                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link blk_clr">Caste Details</a>
                </li>

            </ul>
        </div>

    </div>

    <div class="box">
        <div class="pure-menu custom-restricted-width">

            <span class="pure-menu-heading box_one_head"><img width="20%" style="vertical-align: -50%" src="https://img.icons8.com/material-rounded/50/000000/appointment-reminders.png">&nbsp;NOTIFICATION</span>
            <hr>
            <span class="pure-menu-heading " style="text-align: center;">Important Date</span>
        </div>



        <table>
            <tbody>
                <tr>
                    <td>
                        <ul>
                            <li>
                                Commencement of On-line Submission of Application Form</li>
                        </ul>
                    </td>
                    <td style="color:;font-weight: bold;">:dd-mm-yyyy</td>
                    <!--		<td style="color:;font-weight: bold;">:01-07-20</td>
       	-->
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>
                        <ul>
                            <li>Last date for Submitting Application</li>
                        </ul>
                    </td>
                    <td style="color:;font-weight: bold;">:dd-mm-yyyy</td>
                    <!--<td style="color:;font-weight: bold;">:30-07-20</td>-->

                </tr>

                <tr>
                    <td>
                        <ul>
                            <li>Announcement of Counselling dates</li>
                        </ul>
                    </td>
                    <td style="color:;font-weight: bold;">:dd-mm-yyyy</td>
                    <!--			<td style="color:;font-weight: bold;">:5-08-20</td>-->

                </tr>
            </tbody>
        </table>



    </div>

    <div class="box">
        <div class="pure-menu custom-restricted-width">

            <span class="pure-menu-heading box_one_head"><img style="vertical-align: -5px;width: 27px " src="https://img.icons8.com/material/24/000000/permanent-job--v1.png">&nbsp; CANDIDATE REGISTRATION &amp; LOGIN</span>
            <p><button class="lang_btn" onclick="javascript:window.location.href='ta_index.php'">Change Language / மொழிகளை மாற்ற</button></p>
            <hr>

        </div>
        <p><b>
Click Here New User Registration</b></p>
        <button class="pure-button pure-button-primary btn" [routerLink]="['register']">
          New Registration </button>
        <br><br>
        <p><b>Already Registered!</b>
        </p>
        <button class=" pure-button pure-button-primary btn_two " [routerLink]="[ 'login'] ">
          Login
          <!-- <a class="text-white " routerLink="/login ">Login</a> -->
        </button>
    </div>
</div>
<div class="movtxt-div ">
    <marquee class="movetxt " onmouseover="this.stop() " onmouseout="this.start() ">Best Browser Support In &nbsp;&nbsp;<img width="17px; " style="vertical-align:-3px " src="https://img.icons8.com/color/48/000000/chrome--v1.png
            "> Google Chrome(83),&nbsp;&nbsp;<img width="17px; " style="vertical-align:-3px " src="https://img.icons8.com/color/48/000000/firefox.png "> Mozilla Firefox(76.0.1),&nbsp;&nbsp;<img width="17px; " style="vertical-align:-3px " src="https://img.icons8.com/color/48/000000/adventures--v1.png ">        Safari(13.1.1)</marquee>
</div>
