<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <button class="btn btn-primary" id="menu-toggle" (click)="toggelSideBar($event)">Toggle Menu</button>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <section>
            <img width="100%" src="assets/images/dote-header.jpg" class="img-fluid top-shade-bar" alt="DOTE Header">
            <div class="movtxt-div">
                <marquee class="movetxt" onmouseover="this.stop()" onmouseout="this.start()">Tamilnadu Government Polytechnic College Admission 2020.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</marquee>
            </div>
        </section>
        <!-- main app container -->

    </div>
</nav>